.right
  .main
    .main__header
      .main__header--name ルーム１
      .main___header--member メンバー：綾子
    .main--edit Edit    
  .center
    .ceter_messages
      .center__messages--user こんにちは
      .center__messages--info ルーム１
  .footer
    .footer--box
      .footer--box--text 
        -# %input.footer--box--text--input-box{placeholder: "type a message"}
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          %label.footer--box--text--input-box--upload-label
            %footer--box--text--input-box--upload-label--i.fa.fa-picture-o
            %input.hidden{type: 'file'}
      %submit.footer--box--send-btn Send 