.account-page.account-page{
  .account-page__inner.clearfix{
    width: 980px;
    margin: 60px auto;
    padding: 60px;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    .account-page__inner--left.account-page__header{
    }

    .account-page__inner--right.user-form{
      .field{
        .field-label{

        }
        .field-input{

        }
      }  
      .field{
        .field-label{

        }
        .field-input{

        }
      }
      .actions{
        
      }
    }
  }
}

  