.right{
  height: 100vh;
  width: calc(100vw - 280px);
  float: right;
  padding-top: 30px 0 40px 40px;
  overflow: auto;


  .main{
    height: 18%;


    &__header{
      width: 400px;
      padding: 20px 20px;
      float: left;
      color: black;

      &--name{
        line-height: 55px;
        padding: 35px 15px 15px 20px;
        font-size: 20px;
        color: black;
        font-family: bold;    
      }

      &--member {
        display: flex;
        line-height: 12px;
        line-height: 27px;  
        color: gray;
        
        &_name{
          margin-left: 5px;
        }
      }
      
    }

    &--edit{
      height: 40px;
      width: 40px;
      line-height: 40px;
      text-align: center;
      margin: 28px 28px 28px 28px;
      padding: 0 20px;
      float: right;
      color: lightskyblue;
      border: 1px solid lightskyblue; 
      }  
    a{
      color: black;
    }
    }

    .center{
      overflow: auto;
      height: 67%;
      width: 100%;
      background-color: #fafafa;
      float: right;
      padding: 46px 40px;
      box-sizing: border-box;

      &__messages{
        padding-bottom: 40px;

        &--user-name{
          font-size: 15px;
          color: black;
          display: inline-block;
        }

          &--info{
            font-size: 12px;
            display: inline-block;
            color: gray;
          }
          &--tubuyaki{
            color: black;
            font-size: 20px;
            padding-bottom: 40px;
            .lower-message__content{
              color: black;
            }
            .lower-message__image{
              
            }
          }
    
        }
      
      }
    .hidden{
      display: none; 
    }

    .form{
      height: 5%;
      background-color: #ddd;
      bottom: 0;
      position: relative;
      clear: both;
      padding: 40px 40px;
      &__message{
        height: 50px;
        width: 80%;
        padding-left: 10px;
        color: #434A54;
        float: left;
        border: none;
      }
      &__mask{
        float: left;
        height: 50px;
        background-color: white;
        &__image{
         
          height: 20px;
          width: 20px;
          background-color: white;
        
          .icon{
            height: 20px;
            width: 20px;
            padding:  0 10px;
            text-align: center;
            color: black;
            display: inline;
          } 
        }
      }
      &__submit{
        height: 50px;
        width: 70px;
        background-color: #38AEF0;
        text-align: center;
        line-height: 50px;
        color: black; 
        right: 0;
      }      
    } 
  }  
    
    
  
